
body {
    background-color: orange;
    font-size: 16pt;
    padding: 15px;
}
div.day-box.PREP{
    border-style: solid;
    border-color: red;
    width: 700px;
    border-width: thick;
    margin: 25px;
}

div.day-box.CURRENT{
    border-style: solid;
    border-color: blue;
    width: 900px;
    border-width: thick;
    margin: 25px;
}

div.day-box.COMPLETED
{
    border-style: solid;
    border-color: green;
    border-width: thick;
    width: 1100px;
    margin: 25px;
}
div.nav a
{
    background-color: gray;
    color: white;
    border: outset;
    padding: 10px;
    float: right;
    text-align: center;
    font-size: 16pt;
    margin: 10px;
    
}
