

div.day-box.PREP{
    border-style: solid;
    border-color: red;
    width: 700px;
    border-width: thick;
    margin: 25px;
}

div.day-box.CURRENT{
    border-style: solid;
    border-color: blue;
    width: 900px;
    border-width: thick;
    margin: 25px;
}

div.day-box.COMPLETED
{
    border-style: solid;
    border-color: green;
    border-width: thick;
    width: 1100px;
    margin: 25px;
}
div.nav
{
    border-style: solid;
    border-color: black;
    border-width: thick;
    margin: 25px;
    
}
div.nav\logout.button
{
  background-color: white;
color: black;
    border-style: dashed;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}
div.nav\updateAccount
{
   background-color: white;
color: red;
    border-style: dashed;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}